<h1>Clientes</h1>

 <table *ngIf="responseUsers">
  <thead>

    <tr>
      <td>Nome</td>
      <td>Email</td>
      <td>Telefone</td>
      <td>Receita</td>
      <td>Termos</td>
      <td>Status</td>
      <td>...</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of responseUsers.data">

      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.revenue}}</td>
      <td>{{user.agreedTerms}}</td>
      <td>{{user.isActive}}</td>
      <td><a routerLink="/users/update/{{user.email}}">Editar</a></td>
    </tr>



  <tfoot>

    <tr>

      <td colspan="8">By Daniel</td>
    </tr>
  </tfoot>
</table>
