<!-- <h2>Novo Cliente</h2> -->

<mat-card>
  <mat-card-title>Novo Cliente</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="Nome" [(ngModel)]="request.name" name="name" >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="request.email" name="email" >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Telefone" [(ngModel)]="request.phone" name="phone" >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Receita" [(ngModel)]="request.revenue" name="revenue" >
    </mat-form-field>
    <label for="termos">
      Aceita osTermos:
      <input type="checkbox" name="Aceita os termos" id="termos" [(ngModel)]="request.agreedTerms">
    </label>
    <label for="status">
      Status:
      <input type="checkbox" name="Status" [(ngModel)]="request.isActive">
    </label>

  </form>
  <button mat-raised-button (click)="save()">Salvar</button>



  <div className="" *ngIf="response">
    <label>Nome: {{response.name}}</label>
    <label>Email: {{response.email}}</label>
    <label>Phone: {{response.phone}}</label>
    <label>Receita: {{response.revenue}}</label>
    <label>Termos: {{response.agreedTerms}}</label>
    <label>Status: {{response.isActive}}</label>
  </div>
</mat-card>


