form {
  display: flex;
  flex-direction: column;
}

button {
  margin-left: 550px;
  margin-top: 20px;
  text-align: center;
  width: 200px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgb(208, 228, 228);


}
