<h2>create user</h2>

<div>
  <label for="nome">
    Name: <input type="text" [(ngModel)]="request.name">
  </label>
  <br>
  <label for="email">
    Email:
    <input type="email" [(ngModel)]="request.email">
  </label>
  <br>

  <label for="telefone" >
    Telefone:
    <input type="text" [(ngModel)]="request.phone">
  </label>
  <br>
  <label for="receita">
    Receita:
    <input type="number" name="" id="" [(ngModel)]="request.revenue">
  </label>
  <br>
  <label for="termos">
    Termos:
    <input type="checkbox" name="termos" id="termos" [(ngModel)]="request.agreedTerms">
  </label>
  <label for="status">
    Status:
    <input type="checkbox" [(ngModel)]="request.isActive">
  </label>
  <br>

  <button (click)="save()">Gravar</button>

</div>

<div className="" *ngIf="response">
  <label>Nome: {{response.name}}</label>
  <label>Email: {{response.email}}</label>
  <label>Phone: {{response.phone}}</label>
  <label>Receita: {{response.revenue}}</label>
  <label>Termos: {{response.agreedTerms}}</label>
  <label>Status: {{response.isActive}}</label>
</div>
