form {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
  width: 200px;
  background-color: rgb(208, 228, 228);
  text-transform: uppercase;
  font-weight: bold;
}

table {
  width: 100%;
}
